<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Boilerlabs!</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <style>
        .container {
            max-width: 600px;
        }
    </style>
</head>

<body class="p-5 bg-light">
    <section class="container p-0 mx-auto bg-white rounded-3 border">
        <div class="p-4">
            <h1 class="mb-4 fw-bold fs-5">Welcome to Boilerlabs, <span th:text="${username}"></span>!</h1>
            <p>We're thrilled to have you on board.</p>
            <p>At Boilerlabs, our mission is to help you <strong>achieve your goals</strong> through innovative
                solutions and seamless experiences.</p>
            <p>To help you get started, here are a few resources you might find useful:</p>
            <ul>
                <li><a href="#" th:href="@{${gettingStartedLink}}">Getting Started Guide</a></li>
                <li><a href="#" th:href="@{${communityLink}}">Join Our Community</a></li>
                <li><a href="#" th:href="@{${supportLink}}">Support & Help Center</a></li>
            </ul>
            <p>Feel free to explore, and don't hesitate to reach out if you have any questions or need assistance!
            </p>
        </div>

        <div class="p-4">
            <div class="w-50 border-top">
                <p class="mt-4 lh-sm">Best regards,</p>
                <p class="fw-bold mb-0 lh-sm">The Boilerlabs Team</p>
                <a href="mailto:support@boilerlabs.com">support@boilerlabs.com</a>
            </div>
        </div>
    </section>

    <footer class="container my-4">
        <p class="mb-0 text-body-tertiary">Boilerlabs</p>
        <p class="mb-0 text-body-tertiary">Somewhere around the globe.</p>
        <p class="mb-0 text-body-tertiary">Earth</p>
    </footer>
</body>

</html>